<h1> About us</h1>
<p> This is my Rails challenge for Code Fellows. This Rails app allows a user to sign up using their name, email and password. When signed in, the user has the option to delete their account via the Account Settings page.</p><br>
<p>Challenge 1 and 2 can be found on the home page. </p>
